/*GENERAL STYLING*/

body { padding-top: 70px; }
h1,h2,h3,h4,h5,h6 {
  font-family: 'sans-serif', 'comic sans' ;
}
a:focus, a:hover {
    color: #E73C3E ;
    text-decoration: none;
  }

/*BOOTSTRAP OVERRIDES*/

.navbar-inverse {
    border-color: #FFF;
    background-color: #63B1BC;

}

.navbar-inverse .navbar-nav>li>a {
    color: #FFF;
}
.navbar-inverse .navbar-toggle {
    border-color: #FFF;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #FFF;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
     background-color: #63b1bc;
}

.scroll-top {
    /*display: none;*/
    position: fixed;
    z-index: 10000;
    right: 20px;
    bottom: 100px;

    padding: 20px;

    cursor: pointer;
    text-decoration: none;

    opacity: 0.75;
    border: 0.5px;
    border-style: solid;
    border-radius: 5px;
    background-color: #f4f4f4;


}

.scrolled .scroll-top {
    display: block;

    transition: opacity ease-in .5s;

    opacity: 0.5;
}
.col-md-3 {
  color: black ;
  border-color: gray ;
  border-right: 1px ;
  background-color: #fff;

}
.col-md-9{
  color : black ;
  background-color: pink;
}
/* CUSTOM STYLING*/
.headnavigation{
  height: 162px;
  margin-right: auto;
  font-weight: bold;

margin-left: auto;
 text-decoration: none;
  text-align: center;
  margin-top: auto;
margin-bottom: auto;
  color: white;
  background-color:rgba(99,177,188,1) ;
position: relative;
  font-size: 30px;
}
.headnavigation1{
  height: 162px;
  margin-right: auto;
  font-weight: bold;

margin-left: auto;
 text-decoration: none;
  text-align: center;
  margin-top: auto;
margin-bottom: auto;
  color: white;
  background-color:rgba(99,177,188,0.8) ;

  font-size: 30px;
}
.headnavigation2{
  height: 162px;
  margin-right: auto;
  font-weight: bold;

margin-left: auto;
 text-decoration: none;
  text-align: center;
  margin-top: auto;
margin-bottom: auto;
  color: white;
  background-color:rgba(99,177,188,0.6) ;

  font-size: 30px;
}
.headnavigation3{
  height: 162px;
  margin-right: auto;
  font-weight: bold;

margin-left: auto;
 text-decoration: none;
  text-align: center;
  margin-top: auto;
margin-bottom: auto;
  color: white;
  background-color:rgba(99,177,188,0.4) ;

  font-size: 30px;
}
.subnavigationlogo1{
  height: 50px;
  margin-right: auto;
  font-weight: bold;

margin-left: auto;
 text-decoration: none;
  text-align: center;
  margin-top: auto;
margin-bottom: auto;
  color: white;
  background-color:rgba(231,60,62,1) ;

  font-size: 24px;
}
.subnavigationlogo2{
  height: 50px;
  margin-right: auto;
  font-weight: bold;

margin-left: auto;
 text-decoration: none;
  text-align: center;
  margin-top: auto;
margin-bottom: auto;
  color: white;
  background-color:rgba(231,60,62,0.8) ;

  font-size: 24px;
}

.subnavigationlogo3{
  height: 50px;
  margin-right: auto;
  font-weight: bold;

margin-left: auto;
 text-decoration: none;
  text-align: center;
  margin-top: auto;
margin-bottom: auto;
  color: white;
  background-color:rgba(231,60,62,0.6) ;

  font-size: 24px;
}
.subnavigationtypografie{
  height: 50px;
  margin-right: auto;
  font-weight: bold;

margin-left: auto;
 text-decoration: none;
  text-align: center;
  margin-top: auto;
margin-bottom: auto;
  color: white;
  background-color:rgba(231,60,62,1) ;
}




/*NAVIGATION*/
#home
{
height : 650px;

background-color: #fff ;
}

#home
{
height : 650px;

background-color: #fff ;

}
#fonts {
 height : 650px;

 background-color: #fff ;
 }
